/* ----------- ADDING NOISE EFFECT TO WHOLE PAGE---------------*/

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  pointer-events: none;
  background-repeat: repeat;
  animation-name: noise;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(3);
}

@keyframes noise {
  from {
    background-image: url("../src/assets/img/Noise1.jpg");
  }
  33% {
    background-image: url("../src/assets/img/Noise2.jpg");
  }
  66% {
    background-image: url("../src/assets/img/Noise3.jpg");
  }
  to {
    background-image: url("../src/assets/img/Noise1.jpg");
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* ---------------------------------------------------variables-------------------------------------------------- */

/* importation fonts */

@font-face {
  font-family: "Faster One";
  src: url("../src/assets/fonts/FasterOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Racing Sans One";
  src: url("../src/assets/fonts/RacingSansOne-Regular.ttf") format("truetype");
}

/* definitions variables d'ensemble */

:root {
  --colorBackGround: #46178f;
  --colorButtons: #7841b5;
  --colorButtonsDark: #2c0a72;
  --colorButtonBright: #f57914;
  --colorText: #ffffff;
  --fontTitle: "Faster One";
  --fontSubtitle: "Racing Sans One";
  --shadow: 0px 6px 6px #000000;
}

/* ---------------------------------------------------Original code-------------------------------------------------- */

body {
  margin: 0%;
  font-family: var(--fontSubtitle);

  /* , "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.App {
  text-align: center;
  background-color: var(--colorBackGround);
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Racing Sans One";
  color: white;
}

/* ----------------------------------------------Logo-------------------------------------------------- */

.logo {
  width: 100%;
  margin-left: 0%;
}
.logoBackground {
  width: 350px;
  height: 350px;
  border-radius: 175px;
  box-shadow: var(--shadow);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 15%;
}

.logoBackgroundAboutUs {
  width: 350px;
  height: 350px;
  border-radius: 175px;
  box-shadow: var(--shadow);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 15%;
}
/* ----------------------------------------------Avatar-------------------------------------------------- */

.avatarContainerBig {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20%;
  margin-top: 15%;
}

.avatarBackgroundBig {
  background-color: var(--colorButtons);
  width: 300px;
  height: 300px;
  border-radius: 150px;
  box-shadow: var(--shadow);
}

.avatarContainer {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 5%;
}

.avatarBackground {
  background-color: var(--colorButtons);
  width: 80px;
  height: 80px;
  border-radius: 40px;
  box-shadow: var(--shadow);
  margin: 3%;
}

.chosenAvatarBackground {
  background-color: var(--colorButtonsDark);
  width: 80px;
  height: 80px;
  border-radius: 40px;
  box-shadow: var(--shadow);
  margin: 3%;
}
.avatar {
  width: 100%;
}

/* ----------------------------------------------Form-------------------------------------------------- */

.QuoteForm {
  margin-top: 5%;
  margin-bottom: 10%;
}

.QuoteForm input {
  color: #ffffff;
  font-family: "Racing Sans One";
  padding: 8px;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid var(--colorButtons);
  font-size: 16px;
  width: 60%;
  max-width: 400px;
  box-sizing: border-box;
  background-color: var(--colorButtons);
  box-shadow: var(--shadow);
}

.QuoteForm input:focus {
  outline: none;
}

/* ----------------------------------------------Texts-------------------------------------------------- */

.title {
  color: #ffffff;
  font-family: "Faster One";
  font-size: 70px;
  letter-spacing: -0.2em;
  line-height: 70.8%;
  padding-top: 10%;
  padding-bottom: 10%;
  text-shadow: var(--shadow);
}

.questionText {
  font-size: 30px;
}

.subtitle {
  padding: 3%;
  font-size: 35px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 2px 4px 3px black;
}

.text {
  font-size: 25px;
  text-shadow: var(--shadow);
}

.textBig {
  font-size: 40px;
  text-shadow: var(--shadow);
}

/* ----------------------------------------------GitHub Button-------------------------------------------------- */

.buttonGithub {
  height: 15%;
  width: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 9fr;
  background-color: var(--colorButtons);
  border-radius: 35px;
  font-size: 100%;
  padding-top: 0.5;
  padding-bottom: 0.5%;
  box-shadow: var(--shadow);
  margin-bottom: 3%;
  color: var(--colorText);
}

.buttonsgithub {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.pictoGithub {
  width: 100%;
  grid-area: 1 / 1 / 2 / 2;
  margin-left: 15%;
  margin-top: 2px;
}

.devName {
  grid-area: 1 / 2 / 2 / 3;
  padding-right: 10%;
}

a {
  width: 5vw;
  padding: 0;
  margin: 0;
  align-items: center;
}

/* ----------------------------------------------Slider-------------------------------------------------- */

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: #ffffff;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--colorButtons);
  cursor: pointer;
}

.textSlider {
  color: var(--colorText);
  font-size: 20px;
  padding-bottom: 1%;
}

.sliderBox {
  width: 40%;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* ----------------------------------------------Buttons-------------------------------------------------- */

.petitB {
  background-color: var(--colorButtons);
  font-family: var(--fontSubtitle), "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: white;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 20px;
  width: 200px;
  height: 50px;
}

.grandB {
  background-color: var(--colorButtons);
  font-family: var(--fontSubtitle), "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: white;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 20px;
  width: 335px;
  height: 50px;
}
/* ----------------------------------------------Avatars-------------------------------------------------- */

.petitAvatar {
  height: 125px;
  width: 125px;
}

.grandAvatar {
  height: 450px;
  width: 450px;
}

/* ----------------------------------------------Map-------------------------------------------------- */

.map-container {
  position: relative;
  width: 80%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

.map-container-overlay {
  border-radius: 30px;
  overflow: hidden;
  box-shadow: var(--shadow);
  margin-bottom: 10%;
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

div.map.mapboxgl-map {
  height: 350px;
}

/* ---------------------------------------------Drinks-------------------------------------------------- */

.drinkContainer {
  position: relative;
  width: 80%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.drink {
  height: 100%;
}

/* ---------------------------------------------Games-------------------------------------------------- */

.gameContainer {
  position: relative;
  width: 80%;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 15%;

  border-radius: 30px;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.planetContainer {
  width: 40%;
  margin-right: 10%;
  border-radius: 50px;
  overflow: hidden;
}

.planet {
  object-fit: cover;
}

/* ---------------------------------------------Music-------------------------------------------------- */

.musicContainer {
  margin-top: 30%;
  margin-bottom: 30%;
}

.music {
  object-fit: cover;
}

/* ----------------------------------------------Questions-------------------------------------------------- */
.answerButtonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.textTimer {
  color: rgb(255, 72, 0);
  margin-bottom: 2%;
}

/* ----------------------------------------------Buttons-------------------------------------------------- */

.navButton {
  height: 15%;
  width: 28%;
  align-items: center;
  background-color: var(--colorButtons);
  border-radius: 35px;
  font-size: 100%;
  margin-top: 10%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  box-shadow: var(--shadow);
  margin-bottom: 3%;
  color: var(--colorText);
}

.App {
  background-color: #46178f;
  color: #ffffff;
}

.petitB {
  all: unset;
  background-color: var(--colorButtons);
  font-family: var(--fontSubtitle), "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 38px;
  text-align: center;
  color: white;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 20px;
  width: 60%;
  height: 100%;
  margin-bottom: 3%;
}

.petitBAnswers {
  all: unset;
  background-color: var(--colorButtons);
  font-family: var(--fontSubtitle), "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 38px;
  text-align: center;
  color: white;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 20px;
  width: 60%;
  height: 100%;
  margin-bottom: 3%;
}

.middleButton {
  all: unset;
  background-color: var(--colorButtons);
  font-family: var(--fontSubtitle), "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: white;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 20px;
  width: 50%;
  height: 50px;
  margin-bottom: 10%;
}

.questionButton {
  background-color: var(--colorButtonsDark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 20px;
  width: 80%;
  height: 50px;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

.questionButtonSmall {
  background-color: var(--colorButtons);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 20px;
  width: 80%;
  height: 30px;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}

.buttonstudents {
  background-color: var(--colorButtons);
  font-family: var(--fontSubtitle), "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 20px;
  width: 60%;
  height: 100%;
  margin-bottom: 3%;
  margin-top: -10%;
  margin-right: auto;
  margin-left: auto;
}

.grandB {
  all: unset;
  background-color: var(--colorButtons);
  font-family: var(--fontSubtitle), "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: white;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 20px;
  width: 50%;
  height: 50px;
}

.clickedButton {
  background-color: var(--colorButtonsDark);
}

.themeButtonsContainer {
  margin-top: 10vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.about {
  font-family: "Faster One";
  font-size: 400%;
  word-spacing: -0.1ch;
}

.signInButton {
  all: unset;
  background-color: var(--colorButtons);
  font-family: var(--fontSubtitle), "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 38px;
  text-align: center;
  color: white;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 20px;
  width: 50%;
  height: 50px;
}

.newQuizz {
  all: unset;
  background-color: var(--colorButtonsDark);
  font-family: var(--fontSubtitle), "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 38px;
  text-align: center;
  color: white;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 20px;
  width: 335px;
  height: 60px;
}

.smallResultButton {
  all: unset;
  background-color: var(--colorButtons);
  font-family: var(--fontSubtitle), "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: white;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 20px;
  width: 40%;
  height: 100%;
  margin-top: 3%;
}

.buttonChooseRules {
  background-color: var(--colorButtons);
  font-family: var(--fontSubtitle), "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 38px;
  text-align: center;
  color: white;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 20px;
  width: 60%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15%;
  margin-bottom: 5%;
}
.chooseRulesStart {
  all: unset;
  background-color: var(--colorButtons);
  font-family: var(--fontSubtitle), "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 38px;
  text-align: center;
  color: white;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 20px;
  width: 40%;
  height: 100%;
  margin-top: 10%;
}
.newQuizz2 {
  all: unset;
  background-color: var(--colorButtonsDark);
  font-family: var(--fontSubtitle), "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  color: white;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 20px;
  width: 60%;
  height: 5%;
  margin-top: 3%;
}
@media screen and (min-width: 900px) {
  .logoBackground {
    margin: 2% auto 4% auto;
  }
  .logoBackgroundAboutUs {
    width: 25vw;
    height: 25vw;
    margin: 2% auto 13% auto;
  }

  .title {
    padding-top: 5%;
    padding-bottom: 3%;
  }

  .subtitle {
    padding: 0;
    width: 20%;
  }

  .signInButton {
    width: 20%;
  }

  .QuoteForm {
    margin: 1% auto 5% auto;
  }

  .avatarContainer {
    width: 30vw;
    margin-top: 1%;
    margin-bottom: 3%;
  }

  .textBig {
    width: 20%;
    margin: auto;
  }

  .avatarBackgroundBig {
    margin: 5%;
  }

  .themeButtonsContainer {
    margin-top: 3%;
  }

  .middleButton {
    margin-bottom: 3%;
    width: 25%;
  }

  .grandB {
    width: 15%;
  }

  .avatarContainerBig {
    margin: 0 auto 0 auto;
  }

  .buttonChooseRules {
    margin-top: 5%;
    margin-bottom: 3%;
    width: 20%;
  }

  .sliderBox {
    width: 12%;
  }
  .chooseRulesStart {
    margin-top: 5%;
    width: 10%;
  }

  .map-container {
    width: 50vw;
    height: 350px;
    margin-right: 40px;
  }

  .petitB {
    width: 70%;
    height: 10%;
  }

  .questionGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .questionButton {
    margin-bottom: 2%;
    width: 20%;
  }
  .questionButtonSmall {
    width: 20%;
    margin-bottom: 0;
  }

  .smallResultButton {
    width: 20%;
  }

  .buttonsgithub {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }

  .buttonGithub {
    height: 30px;
    width: 40%;
    margin-right: 10px;
  }

  .pictoGithub {
    height: 30px;
    width: 30px;
  }

  .buttonstudents {
    line-height: 30px;
    width: 25%;
  }

  .newQuizz2 {
    width: 20%;
  }

  .questionContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #cdb0ee4d;
    width: 80%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: var(--shadow);
    align-items: center;
    justify-content: center;
  }

  .bigContainer {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto 0 auto;
    max-width: 100vw;
  }

  .drinkContainer {
    flex: 1;
    width: 50vw;
    margin-right: 5%;
  }

  .gameContainer {
    flex: 1;
    width: 50vw;
    height: 300px;
    margin-right: 5%;
    position: relative;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;

    border-radius: 30px;
    overflow: hidden;
    box-shadow: var(--shadow);
  }

  .petitBAnswers {
    width: 70%;
    height: auto;
    margin: 2% 0 2% 0;
  }

  img {
    width: 100%;
    height: auto;
  }

  .game {
    width: 100%;
    height: auto;
  }

  .musicContainer {
    margin-top: auto;
    margin-bottom: auto;
    width: 40vw;
  }

  .exerciseContainer {
    margin-top: 3%;
    width: 40%;
    margin-right: 10%;
    border-radius: 50px;
    overflow: hidden;
  }

  .exercise {
    height: 100%;
  }

  video {
    width: 100%;
  }
}
